/* General active link styles */
.list-group.wd > .list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
  }
  
/* General inactive link styles */
.list-group.wd > .list-group-item.text-danger {
color: red;
background-color: transparent;
}
  
/* Hover effects for non-active links */
.list-group.wd > .list-group-item.text-danger:hover {
text-decoration: underline;
color: darkred;
}