body { margin: 0; padding: 0; } 
body * {font-family: Arial, Helvetica, sans-serif; }

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #c7cdd1;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}
  
.bg-secondary {
  background-color: #c7cdd1 !important;
}

.border-gray {
  border: 1px solid gray;
}

.table {
  width: 100%;
}

.table, .table th, .table td {
  border: 1px solid darkgray;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.wd-dashboard-course {
  margin-left: 30px;
  margin-bottom: 30px;
}

.wd-dashboard-course-link {
  text-decoration: none;
  color: navy;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.wd-dashboard-course-title {
  font-size: 15px;
  color: gray;
}

.card-body p {
  margin: 0;
}

.card-image {
  width: 100%;
  height: 155px;
  object-fit: cover;
}

.wd-dashboard-course-subtitle {
  font-size: 12px;
  color: gray;
}

.card:hover .wd-dashboard-course-link,
.card:hover .wd-dashboard-course-title,
.card:hover .wd-dashboard-course-subtitle {
  text-decoration: underline; 
}

#wd-dashboard-courses {
  max-width: 1600px; 
}