body { 
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary {
  --bs-btn-color: #000;
  --bs-btn-bg: #e5e5e6;
  --bs-btn-border-color: #c7cdd1;
  --bs-btn-hover-color: #fff;
}
.bg-secondary {
  background-color: #c7cdd1 !important;
}
.border-gray {
  border: 1px solid gray;
}

.wd-assignment-list-item {
  border-left: 5px solid green;
}

.wd-lesson {
  border-left: 5px solid green;
}

.no-underline {
  text-decoration: none;
}

.wd-course-image {
  object-fit: cover; 
  object-position: center;
  height: 150px;
}

.table-details {
  border-collapse: collapse; 
  width: 60%;
  margin: 10px 0;
}

.table-details td, .table-details th {
  border: none;
  padding: 4px 8px;
}

.table-details td:first-child {
  text-align: right;
}
.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0; 
}

.simple-table th, .simple-table td {
  text-align: left;
  padding: 8px; 
  border-bottom: 1px solid #ccc; /* Light gray line for separation */
}

.simple-table th {
  background-color: none; 
  font-weight: normal; 
}

.simple-table tbody tr:last-child td {
  border-bottom: none; 
}

.flex-questions-container {
  display: flex;
  flex-direction:column;
  margin: 15px;
}